@use 'variaveis';

.event{
    padding: 80px 0;

    &--requirements{
        background-image: linear-gradient(variaveis.$blue1, variaveis.$blue2);
    }

    &--forbidden{
        background-image: linear-gradient(variaveis.$blue2, variaveis.$purple2);
    }

    &--attending{
        background-image: linear-gradient(variaveis.$purple2, variaveis.$red);
    }

    &--absent{
        background-image: linear-gradient(variaveis.$red, variaveis.$purple1);
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;
            height: 100%;
            max-height: 300px;
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 200px;
    }

    &__details{
        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__text{
            line-height: 22px;
        }
    }

    @media (max-width:640px) {
        .container{
            display: block;
        }

        &__image{
            width: 100%;
        }

        &__details__text{
            margin-bottom: 16px;
            margin-right: 0;
        }
    }

    @media (max-width: 1024px) {
            .container{
            display: block;
        }

        &__image{
            width: 100%;
        }

        &__details__text{
            margin: 16px 0;
        }
    }
}